<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" icon-only>
            <ion-back-button style="color:white" defaultHref="/tabs/tab4"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Return
        </ion-title>

    </ion-toolbar>
    <div class="img-bg ss_img" style="background-image: url('../../assets/images/potato_sweet.jpg')">
        <div class="overlay"></div>
    </div>
</ion-header>

<ion-content>
    <h3 text-center> Order 80de30006787889</h3>
    <p text-center>Place on 22 oct 2019 18:19:32pm</p>
    <hr/>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/images/pant.jpg" />
            </ion-avatar>
            <ion-label>
                <h2>APPLE A1 Smart Watch Phone Mate For IOS and Android (Multicolor)</h2>
                <h3>$234 </h3>
                <p>X 2</p>
                <p> 2 items , total <strong> $234</strong> </p>
            </ion-label>
            <p class="sspanding">Panding</p>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/images/shoe.jpeg" />
            </ion-avatar>
            <ion-label>
                <h2>APPLE A1 Smart Watch Phone Mate For IOS and Android (Multicolor)</h2>
                <h3>$234 </h3>
                <p>X 2</p>
                <p> 2 items , total <strong> $234</strong> </p>
            </ion-label>
            <p class="sspanding">Panding</p>
        </ion-item>


        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/images/rajvog.jpg" />
            </ion-avatar>
            <ion-label>
                <h2>APPLE A1 Smart Watch Phone Mate For IOS and Android (Multicolor)</h2>
                <h3>$234 </h3>
                <p>X 2</p>
                <p> 2 items , total <strong> $234</strong> </p>
            </ion-label>
            <p class="sspanding">Panding</p>
        </ion-item>

    </ion-list>

</ion-content>