<ion-header>
  <ion-toolbar class="top-toolbar" color="secondary" [class.show-background]="showToolbar">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1">
        </ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end" style="position:relative">
        <div class="mark" routerLink="/cart">
            <span>{{ total_cart_product }}</span>
        </div>
        <ion-button class="cart" routerLink="/cart">
          <ion-icon slot="icon-only" ios="ios-cart" md="md-cart"></ion-icon>
        </ion-button>
        <ion-button class="cart">
          <ion-icon slot="icon-only" ios="ios-more" md="md-more"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="hasData" class="black-bg" fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true">
  
  <div style="background: url('../../assets/images/map.png') no-repeat bottom; background-size: 100%">
      <div style="background-image: linear-gradient( #000 80%, #000000bf);">

        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <div class="image-bg" [ngStyle]="{'background-image': 'url('+domain+'assets/images/uploads/products/' + detail.image + ')'}">
              <div class="in"></div>
            </div>
          </ion-slide>
          <ion-slide>
            <h1>Slide 2</h1>
          </ion-slide>
          <ion-slide>
            <h1>Slide 3</h1>
          </ion-slide>
        </ion-slides>
          
          
          <div class="overlay">
              <div style="padding: 0px 16px">
                  <ion-grid style="padding: 0px 0px">
                    <ion-row>
                      <ion-col size="6"  class="ion-no-padding" style="line-height:30px">
                          <!-- <h4 style="margin-bottom: 0px;">{{detail.product_name}} </h4>
                          <small color="light">{{detail.name}}</small> -->
                          <h3 style="color: #fc7303">{{ detail.price }} $</h3>
                          <small class="strike">590 $</small>
                      </ion-col>
                      <ion-col size="6"  class="ion-no-padding" style="line-height:30px">
                        <ion-button (click)="addToCart(detail.id,detail.name,detail.price,detail.product_name,detail.image,detail.shop_id,detail.shipping_cost)"  class="prod" color="transparent" ><ion-icon slot="icon-only" ios="ios-add" md="md-add"></ion-icon><ion-icon slot="icon-only" ios="ios-cart" md="md-cart"></ion-icon></ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12"  class="ion-no-padding">
                        <p style="margin-bottom: 0px">{{ detail.product_name }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
        
                  <ion-grid style="padding: 25px 0px">
                      <ion-row>
                        <ion-col size="6"  class="ion-no-padding" style="line-height:30px">
                          <ion-row>
                              <ion-badge>{{ detail.total_rating }} <ion-icon name="star"></ion-icon></ion-badge>
                          </ion-row>
                          <ion-row>
                              <small >{{ detail.total_people_rated }} People rated</small>
                          </ion-row>
                          <ion-row style="margin-top: -8px">
                              <small style="margin-top:-5px" routerLink="/reviewprodall/{{ detail.id }}" style="color: #fc7303;outline: none">Read all reviews</small>
                          </ion-row>
                          
                          
                         
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding" style="line-height:30px">
                          <div  style="float: right">
                              <ion-button *ngIf="!productInWishList" (click)="addWishList()" class="round" fill="outline" size="large">
                                <ion-icon style="font-size: 20px" slot="icon-only" name="heart"></ion-icon>
                              </ion-button>
                              <ion-button *ngIf="productInWishList" (click)="rmWishList()" class="round2" fill="solid" size="large" color="light">
                                <ion-icon style="font-size: 20px" slot="icon-only" name="heart"></ion-icon>
                              </ion-button>
                              <ion-button class="round2" fill="solid"  size="large" color="light">
                                <ion-icon style="font-size: 20px;" slot="icon-only" ios="ios-share" md="md-share"></ion-icon>
                              </ion-button>
                          </div>
                        </ion-col>
                      </ion-row>

                      <ion-row *ngIf="detail.size.length > 0">
                        <ion-col size="4" class="ion-no-padding">
                          <h6>Size</h6>
                        </ion-col>
                        <ion-col size="8" class="ion-no-padding">
                          <div class="variation">
                            <div  *ngFor="let v of detail.size" [class.active]="selected_size == v.size" (click)="size_select(v.size)" class="size">{{ v.size }}</div>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="detail.color.length > 0">
                        <ion-col size="4" class="ion-no-padding">
                          <h6>Color</h6>
                        </ion-col>
                        <ion-col size="8" class="ion-no-padding">
                          <div class="variation">
                            <div  *ngFor="let v of detail.color" [class.active]="selected_color == v.color" (click)="color_select(v.color)" class="size">{{ v.color }}</div>
                          </div>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col size="4" class="ion-no-padding">
                          <h6>Specifications</h6>
                        </ion-col>
                        <ion-col size="7" class="ion-no-padding">
                          <p>Brand, Main material, SKU</p>
                        </ion-col>
                        <ion-col size="1" class="ion-no-padding">
                          <span style="float:right;font-size:25px;margin: 9px 0px;"><ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon></span>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col size="4" class="ion-no-padding">
                          <h6>Delivery</h6>
                        </ion-col>
                        <ion-col size="7" class="ion-no-padding">
                          <p>Dhaka, Dhaka-banasree 1212</p>
                        </ion-col>
                        <ion-col size="1" class="ion-no-padding">
                          <span style="float:right;font-size:25px;margin: 9px 0px;"><ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon></span>
                        </ion-col>
                      </ion-row>


                    </ion-grid>
              </div>
              
          </div>


      </div>
  </div>
  
  
</ion-content>

<ion-content *ngIf="!hasData" fullscreen>
    
        <div class="ion-no-padding" style="margin-top: -56px;">
            <ion-thumbnail style="width: 100%;height:230px">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
        </div>
      
        <ion-list>
          <ion-list-header>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-list-header>
          <ion-item>
            
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            
            <ion-label>
              <h1>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h1>
            </ion-label>
          </ion-item>
          <ion-item>
            
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>

          <ion-item>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                  <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
        </ion-list>
  </ion-content>

  <!-- <ion-footer>
      <ion-toolbar color="primary">
        <ion-title>Footer</ion-title>
      </ion-toolbar>
  </ion-footer> -->
