.header{
    width: 100%;
    height: 220px;
    //background-color: red;
    position: fixed;
    z-index: 2;
    background-size: cover
}

.anonymous{
    width: 100%;
    height: 220px;
    position: fixed;
    z-index: 2;
    background-image: url('/assets/images/bb.png');
    background-size: 100%;
    background-repeat: no-repeat
    //background-color: #ddd
}

.anyms-overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#000000ad);
}

// .img-bg{
//     width: 100%;
//     height: 100%;
//     //background-color: red;
//     background-image: url('../../assets/images/bg.jpg');
//     background-size: cover
// }


// img{
//     margin-top: -15px
// }

.buttons{
    width: 100%;
    height: 235px;
    position: absolute;
    top: 35%;
    //background-color: red;
}
.login{
    --border-color: white;
    --border-width:3px;
    --color: white;
    margin-left: 13px;
    --color-activated: white;
    text-transform: none;
}

.sign-up{
    --border-color: #fc7303;
    --color: white;
    --background: #fc7303;
    margin-left: 13px;
    text-transform: none
}

.top{
    width: 100%;
    height: 60px;
    //background-color: blue;
    color: white;
    font-size: 20px
}
.top p{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500;
    line-height: 18px
}
ion-button{
    margin-top: 15px;
    margin-right: 15px;
    
}

.bottom-logged{
    width: 100%;
    height: 80px;
    //background-color: green;
    margin-top: 75px
}

.ff ion-img{
    margin-left: 17px;
    margin-top: 4px; 
}

.overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#00000021,#000000)
}

h3, small{
    margin-left: 10px
}
small{
    font-size:15px;
    color: #ddd;
    letter-spacing: 1px
}
h3{
    color: white;
    margin-bottom: 2px;
    letter-spacing: 2px
}

.content{
    padding: 0px 20px;
    margin-top: 230px;
}

ion-content{

    --ion-background-color:#060606;
}

.bt{
    float:right;
    font-size:20px;
    text-transform: none;
    margin-top: 10px;
}

ion-grid{
    ion-row{
        ion-col{
            ion-icon{
                font-size: 25px;
                margin-top: 15px;
                color:#fc7303
            }
        }
    }
}

//========================================================
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}
.p-less-top-margin{
    margin-top: 0px;
    margin-bottom: 3px
}

.img-bg{
    width: 100%;
    height: 230px;
    margin-top: -56px;
    background-image: url('../../assets/images/bbb.jpg');
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#000, #0000006e,#000);
    position: relative;
}

.bottom{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    color: white;
    padding-left: 36px;
}

.form{
    width: 100%;
    margin-top: 5px;
    padding: 0px 20px;
}

// ion-button{
//     margin-top: 80px;
// }

ion-content{
    --ion-background-color:#000;
    
}

ion-item{
    color:white;
    --border-color: #9e9e9e;
}
.item-has-focus {
    --border-color:  red
}

.ss_extra_settingss {
    ion-col {
        div {
            margin-top: 10px;
            background: #0e0e0e;
            padding-bottom: 10px;
            p {
                margin: 0;
                font-size: 14px;
                color: #5b5b5b;
            }
            ion-icon {
                font-size: 25px;
            }
        }
    }
}

.ss_social {
    ion-button {
        --border-color: #fd7821;
        --background: transparent;
        --color: #fff;
        --color-focused: #fff;
        --background-activated: transparent;
        min-width: 150px;
        margin-right: auto;
        img {
            height: 20px;
            margin-right: 10px;
        }
    }
}





