<ion-header>
    <ion-toolbar color="dark" class="tr-toolbar">
      <ion-title>Chats</ion-title>
      <ion-buttons slot="end">
        <ion-button >
            <ion-icon slot="icon-only" ios="ios-search" md="md-search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen>
  <ion-list class="ion-no-padding">
    <ion-item class="ion-no-padding" routerLink="/chat">
        <div class="img-bg" style="background-image: url('../../assets/images/potato_sweet.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Golden Bakery</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time-unread"><strong>12:20</strong></div>
                  <div class="badge">
                    <span>1</span>
                  </div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/resturent.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Chinese Restaurant</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/salon.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Hair Fashion</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/pizza.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Pizza Hut</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/fruit_shop.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Dhaka Fruits</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/music.png')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Rock Music</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/jwelery.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Diamond World</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/potato_sweet.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Golden Bakery</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time-unread">12:20</div>
                  <div class="badge">
                    <span>1</span>
                  </div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/resturent.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Chinese Restaurant</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/salon.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Hair Fashion</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/pizza.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Pizza Hut</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/fruit_shop.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Dhaka Fruits</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/music.png')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Rock Music</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
        <div class="img-bg" style="background-image: url('../../assets/images/jwelery.jpg')">
          <div class="overlay"></div>
        </div>
      <div class="name">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="10" class="ion-no-padding">
                  <h6 >Diamond World</h6>
                  <p>
                    Yes, we can deliver it to your home within
                    a short time. don't worry just have patience. 
                    your order will reach soon
                  </p>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
                  <div class="time">12:20</div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
    
  </ion-list>
</ion-content>
