/* Transparent standard */
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.black-bg{
    --background:black;
}
.orange{
    color: #fc7303;
  }
/* Show background if class is active */
.show-background {
    border-style: none;
    background: #000000b8;
}
.show-background ion-back-button{
    --background: transparent;
}

/* Remove bottom border on md */
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}
.p-less-top-margin{
    margin-top: 0px;
    margin-bottom: 3px
}



.image-bg{
    width: 100%;
    height: 200px;
    margin-top: -56px;
    background-size: cover;
    background-repeat: no-repeat;
}

.in {
    //background-color: red;
    height: 102px;
    position: relative;
    background-image: linear-gradient(#00000000, black,);
    top: 100px;
}
.out {
    //background-color: red;
    height: 161px;
    position: relative;
    background-image: linear-gradient( black, #000000bf);
    margin-top: -1px
}

.overlay{
    z-index: 1;
    width: 100%;
    color: white;
    min-height: 530px
}
ion-back-button{
    --background: #00000063;
}

ion-button{
    --border-color: white;
    --color: #fc7303;
    --border-width: 1.1px;
    text-transform: none;
    float: right;
}

.event-btn{
    background-color: #fc7303;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 40px;
    font-size: 13px;
    display: inline-flex;
    line-height: 19px;
}
